<!DOCTYPE html>
<html lang="en">

<head>
	<title>NetPizza - Étlap</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">

	<link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/css/animate.css">

	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">

	<link rel="stylesheet" href="/css/aos.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">

	<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/css/jquery.timepicker.css">

	<link rel="stylesheet" href="/css/flaticon.css">
	<link rel="stylesheet" href="/css/icomoon.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<%- include('../partials/navbar') %>

	<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

		<div class="slider-item" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<h1 class="mb-3 mt-5 bread">Étlapunk</h1>
						<p class="breadcrumbs"><span class="mr-2"><a href="/">Kezdőlap</a></span>
							<span>Menü</span>
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Étlapunk</h2>
					<p>Kóstold meg Kecskemét legfinomabb pizzáit! A NetPizza minden szelete friss alapanyagokból, olasz
						recept alapján készül, hogy minden falat igazi élmény legyen.</p>
				</div>
			</div>
		</div>
		<div class="container-wrap">
			<div class="row no-gutters d-flex">
				<% if (pizzak && pizzak.length> 0) { %>
					<% pizzak.forEach(pizza=> { %>
						<div class="col-lg-4 d-flex ftco-animate">
							<div class="services-wrap d-flex flex-column">
								<a href="#" class="img" style="background-image: url('/images/<%= pizza.kep %>');"></a>
								<div class="text p-4 text-center">
									<h3>
										<%= pizza.nev %>
									</h3>
									<p>Kategória: <%= pizza.kategorianev %>
									</p>
									<p>
										Ár:
										<% const kategoria=kategoriak.find(k=> k.nev === pizza.kategorianev);
											if (kategoria) {
											%>
											<%= kategoria.ar %> Ft
												<% } %>
									</p>
									<a href="#" class="ml-2 btn btn-white btn-outline-white">Rendelés</a>
								</div>
							</div>
						</div>
						<% }) %>
							<% } else { %>
								<div class="col-12 text-center">
									<p class="lead text-muted">Jelenleg nincsenek pizzák az adatbázisban 🍕</p>
								</div>
								<% } %>
			</div>
		</div>

		<div class="container mt-5 pt-5">
			<h2 class="text-center mb-4">🧾 Legutóbbi rendelések</h2>

			<div class="row">
				<% if (rendelesek && rendelesek.length> 0) { %>
					<% rendelesek.forEach(r=> { %>
						<div class="col-md-4 mb-3">
							<div class="p-3 bg-dark text-white rounded shadow">
								<h5>
									<%= r.pizzanev %>
								</h5>
								<p>Mennyiség: <strong>
										<%= r.darab %> db
									</strong></p>
								<p>Felvétel időpontja:
									<strong>
										<%= new Date(r.felvetel).toLocaleString() %>
									</strong>
								</p>
							</div>
						</div>
						<% }) %>
							<% } else { %>
								<p class="text-muted text-center w-100">
									Jelenleg nincs rendelési adat a rendszerben.
								</p>
								<% } %>
			</div>
		</div>



		<div class="container">
			<div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<h2 class="mb-4">Étlap és árak</h2>
					<p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
					<p class="mt-5">Válogass a NetPizza kedvenceiből – friss, kemencében sült pizzák Kecskemét szívéből.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Olasz Pizza</span></h3>
								<span class="price">2990 Ft</span>
							</div>
							<div class="d-block">
								<p>Klasszikus paradicsomszósz és mozzarella – egyszerűen tökéletes.</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-2.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Hawaiia Pizza</span></h3>
								<span class="price">3990 Ft</span>
							</div>
							<div class="d-block">
								<p>Sonka és ananász, édes-sós harmóniában.</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-3.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Görög Pizza</span></h3>
								<span class="price">2990 Ft</span>
							</div>
							<div class="d-block">
								<p>Feta sajt, olívabogyó és friss zöldségek – a mediterrán ízek kedvelőinek.</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-4.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Baconos ropogós</span></h3>
								<span class="price">2990 Ft</span>
							</div>
							<div class="d-block">
								<p>Extra ropogós vékony tészta, bőséges baconnel.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-5.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Hawaii különlegesség</span></h3>
								<span class="price">3990 Ft</span>
							</div>
							<div class="d-block">
								<p>Dupla sajt, extra sonka és ananász – igazi ízbomba azoknak, akik nem elégszenek meg a
									kevesebbel.</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-6.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Minden földi jó</span></h3>
								<span class="price">4990 Ft</span>
							</div>
							<div class="d-block">
								<p>Telepakolva húsokkal és zöldségekkel – kiadós választás, ami minden étvágyat
									kielégít.
								</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-7.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Baconos Pizza</span></h3>
								<span class="price">2990 Ft</span>
							</div>
							<div class="d-block">
								<p>Extra ropogós vékony tészta, bőséges baconnel.</p>
							</div>
						</div>
					</div>
					<div class="pricing-entry d-flex ftco-animate">
						<div class="img" style="background-image: url(images/pizza-8.jpg);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>Sonka &amp; Ananász</span></h3>
								<span class="price">3990 Ft</span>
							</div>
							<div class="d-block">
								<p>Klasszikus kedvenc, frissen sütve – omlós sonkával, édes ananásszal és olvadó
									mozzarellával a tökéletes ízharmóniáért.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-section img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Rólunk</h2>
						<p>A NetPizza Kecskemét szívében várja vendégeit friss, olaszos pizzákkal és barátságos
							kiszolgálással. Célunk, hogy minden falat igazi élmény legyen – nálunk a minőség és az íz
							kéz a kézben jár.</p>
						<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Legutóbbi bejegyzések</h2>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_1.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Új pizzakülönlegességek a NetPizza-ban!</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
						<div class="block-21 mb-4 d-flex">
							<a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>
							<div class="text">
								<h3 class="heading"><a href="#">Házhozszállítás Kecskeméten!</a>
								</h3>
								<div class="meta">
									<div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
									<div><a href="#"><span class="icon-person"></span> Admin</a></div>
									<div><a href="#"><span class="icon-chat"></span> 19</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Szolgáltatások</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Frissen sütött pizzák</a></li>
							<li><a href="#" class="py-2 d-block">Gyors kiszállítás</a></li>
							<li><a href="#" class="py-2 d-block">Kiváló minőségű alapanyagokból</a></li>
							<li><a href="#" class="py-2 d-block">Vegetáriánus és különleges ajánlatok</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 mb-5 mb-md-5">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Van kérdésed?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Magyarország,
										Kecskemét, Fő utca 21.</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+36 30 967
											8852</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
											class="text">info@netpizza.hu</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> Minden jog fenntartva | This template
						is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
							target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>


	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src="/js/jquery.timepicker.min.js"></script>
	<script src="/js/scrollax.min.js"></script>
	<script src="/js/main.js"></script>

	</body>

</html>